.colorsGame {
  display: flex;
  margin: 2rem;
  min-height: 12rem;

  .boardWrapper {
    display: grid;
    gap: 0.1rem;

    .boardRow {
      display: flex;
      gap: 0.1rem;

      .boardCol {
        display: flex;
        gap: 0.1rem;
        width: 5rem;
        height: 5rem;
        cursor: pointer;
      }
    }
  }
}