.colorsGame {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin: 1rem;
  max-width: 50rem;
}

.gameInfo {
  display: flex;
  gap: 5rem;
  position: absolute;
  top: 6rem;
}

.gameInfo .info {
  font-size: 1.5rem;
}