.boardWrapper {
  display: grid;
  gap: 0.1rem;
  max-width: 50rem;
}

.boardWrapper .boardRow {
  display: flex;
  gap: 0.1rem;
}

.boardWrapper .boardCol {
  display: flex;
  gap: 0.1rem;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}